.content {
	margin:0 auto;
	max-width: 400px;
	padding: 0 16px;
}

hr {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.space {
	margin-top: 4px;
	margin-bottom: 4px;
}
.space-large {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}